$font-stack: 'Roboto';
$colors: (
    primary: cornflowerblue
);

//customize colors of app
$navbar-background: #212128;
$searchBackground: #f6f6f6;
$item-list-border-color: #ccc;
$item-list-background-color: #fff;
$item-heading-color: #000;
$item-heading-size: 24px;
$item-header-size-mobile: 16px;
$item-subheading-color: #ccc;
$item-subheading-size: 14px;
$item-no-image-background: #f4f4f4;
$pass-inspection-color: green;
$button-background-color: #5295c6;
$button-background-color-hover: #376F85;
